*{
    box-sizing: border-box;
    margin: 0;
    font-family:  Verdana, sans-serif;
}

body {
    background-image: url("images/background.jpg");
    background-size: cover;
}

header, h1, nav,
nav > button{
    text-align: center;
}

h1{
    color: #0f0;
}

img{
    width: 30%;
    height: auto;
}

#container {
    background-color: rgba(00, 00, 00, 0.5);
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding: 5%;
    border-radius: 25px;
}

section > h2 {
    display: inline-block;
}

main > section{
    color: white;
}

nav > div{
    margin: auto;
}

nav{
    background-color: #0f0;
    height: 50px;
    margin-top: 20px;
    padding: 15px;
}

p{
    font-size: larger;
    line-height: 35px;
}

.scooter{
    margin-top: 40px;
}

.charge{
    height: 35px;
    border-radius: 5px;
    margin-top: 6px;
}

#orange{
    width: 40%;
    background-color: orange;
}

#green{
    width: 60%;
    background-color: rgb(1, 206, 1);
}

#red{
    width: 15%;
    background-color: tomato;
}